.sparring{
  color: #3f4551;
  font-size: 20px;
  padding: 50px 70px 0;

  &__title{
    text-align: center;
  }

  &__text{
    max-width: 666px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 24px;
  }

  &__info{
    position: relative;
    margin-top: 45px;
  }

  &__info-img{
    position: absolute;
    transition: 0.8s ease-in-out;
    opacity: 0;


    &--left{
      top: 80px;
      left: 20px;
    }

    &--right{
      top: 0;
      right: -130px;
    }
  }

  &__info-row{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;

    &--1{

    }

    &--2{
      margin-top: -100px;
      position: relative;
      padding-top: 400px;

      &.animated{
        .sparring__info-img{
          &--left{
            left: 50%;
            transform: translateX(-135%);
            opacity: 1;
          }

          &--right{
            right: 50%;
            transform: translateX(82%);
            opacity: 1;
          }
        }
      }
    }
  }

  &__info-text{
    width: 310px;

    &--tl{
      margin-left: 50px;
    }

    &--bl{
      margin-left: 350px;
      margin-top: -50px;
    }

    &--tr{
    }

    &--br{
      margin-top: 40px;
    }
  }

  &__etiquette{
    position: relative;
    margin-top: 200px;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -73px;
      display: block;
      height: 55px;
      width: 100%;
      background-image: url(/img/footer-separator.png);
    }
  }

  &__etiquette-title{
    font-size: 36px;
    padding-left: 25px;
  }

  &__etiquette-list{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__etiquette-item{
    position: relative;
    margin-top: 40px;
    padding-left: 25px;
    width: 320px;

    &::before{
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #f28b11;
    }
  }
}